@model List<SANATIFY.Models.ConcertViewModel>

@{
    ViewData["Title"] = "All Concerts";
}

<h3>Your Current Credit: @ViewBag.UserCredit</h3>

<div class="centered-container">
    <h2>All Concerts</h2>
    <table class="table table-light table-bordered table-primary table-responsive table-striped">
        <thead>
        <tr>
            <th>Concert Id</th>
            <th>Date</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var concert in Model)
        {
            <tr>
                <td>@concert.ID</td>
                <td>@concert.Date.ToString("d")</td>
                <td>@concert.Price</td>
                <td>
                    @if (concert.Valid && ViewBag.UserCredit >= concert.Price)
                    {
                        <form asp-action="BuyTicket" asp-route-concertId="@concert.ID" method="post">
                            <button type="submit" class="btn btn-primary">Buy Ticket</button>
                        </form>
                    }
                    else
                    {
                        <span class="text-danger">Not Available</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>