@model IEnumerable<SANATIFY.Models.UserViewModel>
@{
    ViewData["Title"] = "Browse Users";
}

<div class="centered-container">
    <h2>All Users</h2>
    <table class="table table-light table-bordered table-primary table-responsive table-striped">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @* <form method="post" asp-action="SendFriendRequest"> *@
                    @*     <input type="hidden" name="receiverId" value="@user.ID" /> *@
                    @*     <button type="submit" class="btn btn-primary">Send Friend Request</button> *@
                    @* </form> *@
                    <button class="btn btn-primary" onclick="sendFriendRequest(@user.ID)">Send Friend Request</button>

                    <form method="post" asp-action="FollowUser">
                        <input type="hidden" name="followingId" value="@user.ID" />
                        <button type="submit" class="btn btn-secondary">Follow</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



<script>
    function sendFriendRequest(receiverId) {
        $.ajax({
            url: '@Url.Action("SendFriendRequest", "User")',
            type: 'POST',
            data: { receiverId: receiverId },
            success: function (response) {
                if (response.success) {
                    alert('Friend request sent successfully.');
                    // Optionally update UI or perform other actions on success
                } else {
                    alert('Error: ' + response.message);
                }
            },
            error: function () {
                alert('Error sending friend request.');
            }
        });
    }
</script>