@model IEnumerable<SANATIFY.Models.MusicViewModel>

@{
    ViewData["Title"] = "Artist Songs";
}

<div class="container mt-4">
    <h2>Artist Songs</h2>
    <div class="row">
        @foreach (var music in Model)
        {
            <input type="hidden" id="userId" value="@User.Identity.Name"/>
            <div class="col-md-4 mb-3">
                <div class="card" style="background-color: rgba(12,12,12,0.17)">
                    <div class="custom-card">
                        <div class="col-md-4 mb-4">
                            @if (@music.Cover == 0)
                            {
                                <img src="~/css/covers/1.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 1)
                            {
                                <img src="~/css/covers/1.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 2)
                            {
                                <img src="~/css/covers/2.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 3)
                            {
                                <img src="~/css/covers/3.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 4)
                            {
                                <img src="~/css/covers/4.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 5)
                            {
                                <img src="~/css/covers/5.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 6)
                            {
                                <img src="~/css/covers/6.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 7)
                            {
                                <img src="~/css/covers/7.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 8)
                            {
                                <img src="~/css/covers/8.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 9)
                            {
                                <img src="~/css/covers/9.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                            @if (@music.Cover == 10)
                            {
                                <img src="~/css/covers/10.jpg" class="card-img-top img-thumbnail" alt="@music.Cover"/>
                            }
                        </div>

                        <h5 class="card-title">@music.Name</h5>
                        <p class="card-text">
                            <div>
                                <strong>Genre ID:</strong> @music.Genre_ID<br/>
                            </div>
                            <strong>Ages:</strong> @music.Ages?.ToString()<br/>
                            <strong>Date:</strong> @music.Date
                        </p>

                        <div class="card-footer d-flex justify-content-between" onclick="addToFavorites('@music.ID')">
                            <button class="btn btn-success">
                                Add to Fav
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function addToFavorites(musicId) {
        $.ajax({
            type: "POST",
            url: "/User/AddToLikeSong",
            data: { musicId: musicId}, 
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    alert("Song added to Liked songs!");
                } else if (result.message === "Song already liked.") {
                    alert("You have already liked this song.");
                } else {
                    alert("Failed to add song to Liked songs.");
                }
            },
            error: function () {
                alert("An error occurred while adding the song to favorites.");
            }
        });
    }
</script>
